<div class='nested-fields'>
    <div class="field">
      <%= f.label :name, "Nombre" %>
      <%= f.text_field :name %>
      <%= link_to_remove_association "Remover integrante", f %>
    </div>
</div>