<h1>Editar concierto de <%= @group.name %></h1>

<%= render 'form', concert: @concert %>

<%= link_to 'Show', group_concerts_path(@group, @concert) %> |
<%= link_to 'Volver', group_concerts_path(@group) %>
